# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=D4jleYHeafmbYcJrEAEViFQfKuNpyWSZ
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=omnora
DB_PASSWORD=secret
DB_DATABASE=omnora-dev

# Cache
CACHE_HOST=127.0.0.1
CACHE_PORT=6379
CACHE_PASSWORD=secret

# Mail
MAIL_MAILER=resend
MAIL_FROM_NAME=Admin
MAIL_FROM_ADDRESS=onboarding@resend.dev
RESEND_API_KEY=your-resend-api-key

# Storage
# NOTE(okzmo): those key are for local garage I'm not leaking anything
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=GK3515373e4c851ebaad366558
AWS_SECRET_ACCESS_KEY=7d37d093435a41f2aab8f13c19ba067d9776c90215f56614adad6ece597dbb34
AWS_REGION=garage
S3_BUCKET=omnora-dev

#--------------------------------------------------------------------
# CORS (configure allowed origins for API access)
#--------------------------------------------------------------------
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
