# global
PORT=8080
APP_ENV=local
DOMAIN=localhost

# Postgres
DB_PORT=5432
DB_DATABASE=omnora-dev
DB_USERNAME=omnora
DB_PASSWORD=secret
DB_HOST=127.0.0.1
DB_SCHEMA=public
DATABASE_URL=postgres://omnora:secret@127.0.0.1:5432/omnora-dev?sslmode=disable&search_path=public

# Dragonfly
DFLY_PORT=6379
DFLY_PASSWORD=secret

# Resend
RESEND_API_KEY=
RESEND_HOST_EMAIL=onboarding@resend.dev
RESEND_HOST_NAME=admin
